.downloader {
    position: fixed;
    bottom: 20px;
    right: 0;
    padding: 5px;
    background-color: rgba(90, 30, 30, 0.15);
    min-width: 100px;
    min-height: 10px;
    display: flex;
    flex-direction: column;
}

.download {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
}

.processo {
    font-size: 10px;
    color: rgba(10, 10, 10, 0.9);
    flex: 1;
}

.bytes {
    font-family: monospace;
    font-size: 10px;
    color: rgba(10, 10, 10, 0.9);
    padding-left: 2em;
    padding-right: 0.5em;    
}

@keyframes spinnn {
    50% {
        transform: rotateZ(300deg);
    }
}

.spinner {
    animation: spinnn 2s cubic-bezier(.65,.05,.36,1) infinite;
    
}