:root {
    --bgcolor: #b4b4b44d;
}

.downloader {
    position: fixed;
    bottom: 38px;
    right: 12px;
    padding: 5px;
    background-color: var(--bgcolor);
    min-width: 100px;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.download {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
}

.processo {
    font-size: 10px;
    color: rgba(10, 10, 10, 0.9);
    flex: 1;
}

.bytes {
    font-family: monospace;
    font-size: 10px;
    color: rgba(10, 10, 10, 0.9);
    padding-left: 2em;
    padding-right: 0.5em;    
}

@keyframes spinnn {
    50% {
        transform: rotateZ(300deg);
    }
}

.spinner {
    animation: spinnn 2s cubic-bezier(.65,.05,.36,1) infinite;    
}

.move {
    transform: translateY(6px);
    padding-right: 8px;
}